<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.base.dao.SalariesMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.base.vo.Salaries">
    <id column="emp_no" jdbcType="INTEGER" property="empNo" />
    <id column="from_date" jdbcType="DATE" property="fromDate" />
    <result column="salary" jdbcType="INTEGER" property="salary" />
    <result column="to_date" jdbcType="DATE" property="toDate" />
  </resultMap>
  <sql id="Base_Column_List">
    emp_no, from_date, salary, to_date
  </sql>

  <select id="selectAllCount" resultType="java.lang.Integer">
    select count(*) from salaries
  </select>

  <select id="cursorTest" resultMap="BaseResultMap">
      select * from salaries limit #{limit}
  </select>


</mapper>