<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.base.dao.VideosMapper" >
    <resultMap id="BaseResultMap" type="com.example.demo.base.vo.Videos" >
        <id column="ID" property="id" jdbcType="INTEGER" />
        <result column="TITLE" property="title" jdbcType="VARCHAR" />
        <result column="TYPE" property="type" jdbcType="VARCHAR" />
        <result column="UUID" property="uuid" jdbcType="VARCHAR" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="NOTE1" property="note1" jdbcType="VARCHAR" />
        <result column="NOTE2" property="note2" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
    ID, TITLE, TYPE, UUID, REMARK, CREATE_TIME, UPDATE_TIME, NOTE1, NOTE2
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from videos
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from videos
    where ID = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.example.demo.base.vo.Videos" >
    insert into videos (ID, TITLE, TYPE,
      UUID, REMARK, CREATE_TIME,
      UPDATE_TIME, NOTE1, NOTE2
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
      #{uuid,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}, #{note1,jdbcType=VARCHAR}, #{note2,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.example.demo.base.vo.Videos" >
        insert into videos
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                ID,
            </if>
            <if test="title != null" >
                TITLE,
            </if>
            <if test="type != null" >
                TYPE,
            </if>
            <if test="uuid != null" >
                UUID,
            </if>
            <if test="remark != null" >
                REMARK,
            </if>
            <if test="createTime != null" >
                CREATE_TIME,
            </if>
            <if test="updateTime != null" >
                UPDATE_TIME,
            </if>
            <if test="note1 != null" >
                NOTE1,
            </if>
            <if test="note2 != null" >
                NOTE2,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="uuid != null" >
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="note1 != null" >
                #{note1,jdbcType=VARCHAR},
            </if>
            <if test="note2 != null" >
                #{note2,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.base.vo.Videos" >
        update videos
        <set >
            <if test="title != null" >
                TITLE = #{title,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                TYPE = #{type,jdbcType=VARCHAR},
            </if>
            <if test="uuid != null" >
                UUID = #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="note1 != null" >
                NOTE1 = #{note1,jdbcType=VARCHAR},
            </if>
            <if test="note2 != null" >
                NOTE2 = #{note2,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.demo.base.vo.Videos" >
    update videos
    set TITLE = #{title,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      UUID = #{uuid,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      NOTE1 = #{note1,jdbcType=VARCHAR},
      NOTE2 = #{note2,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>