<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.code.mapper.VideosMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.generator.code.entity.Videos">
                    <id column="ID" property="id"/>
                    <result column="TITLE" property="title"/>
                    <result column="NEW_TITLE" property="newTitle"/>
                    <result column="TYPE" property="type"/>
                    <result column="SIZE" property="size"/>
                    <result column="POSITION" property="position"/>
                    <result column="UUID" property="uuid"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="UPDATE_TIME" property="updateTime"/>
                    <result column="UPLOADER" property="uploader"/>
                    <result column="DESCRIPTION" property="description"/>
                    <result column="REMARK" property="remark"/>
                    <result column="NOTE1" property="note1"/>
                    <result column="NOTE2" property="note2"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            ID, TITLE, NEW_TITLE, TYPE, SIZE, POSITION, UUID, CREATE_TIME, UPDATE_TIME, UPLOADER, DESCRIPTION, REMARK, NOTE1, NOTE2
        </sql>

</mapper>